/* header */
#header{
    height: 100px;
    width: 100%;
    background-color: lightblue;
}

#right-header {
    float: right;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
}

#logo a img {
    
    height: 90px;
    padding: 5px;
}